<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <table class="table table-striped">
      <caption>
        <h1 class="table-title title">Course List</h1>
        <div class="add-course">
          <a routerLink="addcourse">
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Course
            </button>
          </a>
        </div>
      </caption>
      <tr>
        <th>
          Course ID
        </th>
        <th>
          Course Name
        </th>
        <th>
          SKS
        </th>
      </tr>
      <tr *ngFor="let c of GetCourse(); index as i;">
        <td>
          {{c.id}}
        </td>
        <td>
          {{c.name}}
        </td>
        <td>
          {{c.sks}}
        </td>
      </tr>
    </table>
  </div>
</div>